@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

p{
    z-index: 1;
}

 h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

 .mt-100{
     margin-top: 100px;
 }

.custom-container {
    width: 100%;
    height: 890px;
    background: #CDE160;
    border-radius: 50px;
    overflow: hidden;
    max-width: 100%; 
}

/* Для экранов с шириной больше 1200px (большие десктопы) */
@media (min-width: 1200px) {
    .custom-container {
        width: 1368px;
        height: 890px; 
    }
    .custom-circle {
        width: 1470px; /* Фиксированная ширина для очень больших экранов */
        height: 1370px; /* Высота для больших экранов */
        top: -70%;
    }
}

/* Для экранов с шириной от 992px до 1199px (средние десктопы) */
@media (min-width: 768px) and (max-width: 1199px) {
    .custom-container {
        width: 900px; /* Уменьшаем контейнер */
        height: 890px; /* Немного меньше высота */
    }

    .custom-circle {
        width: 950px; /* Уменьшаем контейнер */
        height: 950px; /* Немного меньше высота */
        top: -40%;
    }
}

/* Для экранов с шириной от 768px до 991px (планшеты) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Для экранов с шириной до 767px (мобильные устройства) */
@media (max-width: 767px) {
    .custom-container {
        width: 600px;
        height: 890px; /* Контейнер станет ниже */
        border-radius: 30px; /* Меньше закругление для мобильных */
    }
    .custom-circle {
        width: 650px; /* Уменьшаем контейнер */
        height: 650px; /* Немного меньше высота */
        top: -20%;
    }
}

/* Для экранов с шириной до 767px (мобильные устройства) */
@media (max-width: 567px) {
    .custom-container {
        width: 450px;
        height: 890px; /* Контейнер станет ниже */
        border-radius: 30px; /* Меньше закругление для мобильных */
    }

    .custom-circle {
        width: 450px; /* Уменьшаем контейнер */
        height: 450px; /* Немного меньше высота */
        top: -20%;
    }
}

.custom-circle {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: white;
    border-radius: 50%;
}

.text-container {
    position: relative;
    z-index: 1; /* Чтобы текст был поверх круга */
    background: rgba(255, 255, 255, 0.29);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* Общие стили для p */
.custom-paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

/* Четные элементы */
.even {
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid #000000;
    color: #000000;
}

/* Нечетные элементы */
.odd {
    background: #CDE160;
    border: 1px solid #CDE160;
    color: white;
}

/* Заголовок */
.custom-title {
    width: 339px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 40px;
    z-index: 1;
}

/* Стиль для текста "that’s my buddy" */
.highlighted-text {
    display: inline-block;
    background: #CDE160;
    border-radius: 15px;
    padding: 5px 10px;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {

    .custom-circle {
        width: 200%;
        height: 200%;
        top: -75%;
    }

    .text-container {
        padding: 10px;
    }

    .custom-title {
        font-size: 24px;
        width: auto;
    }
}

.custom-container-bottom {
    width: 1368px;
    background: #CDE160;
    border-radius: 50% 50% 30px 30px;
    max-width: 100%;
    min-height: 100px;
}

.black-button {
    box-sizing: border-box;
    height: 36px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 16px; /* Отступы по бокам */
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

    .black-button:hover {
        background: #333333; /* Серый при наведении */
        border-color: #333333;
    }

    .black-button:active {
        background: #555555; /* Темнее при клике */
        border-color: #555555;
    }


