@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    z-index: 1;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.custom-container-bottom {
    width: 1368px;
    background: #CDE160;
    border-radius: 50% 50% 30px 30px;
    max-width: 100%;
    min-height: 100px;
}

.custom-container {
    width: 100%; /* Сделаем ширину 100%, чтобы он занимал весь доступный экран */
    height: 890px; /* Начальная высота для больших экранов */
    background: #CDE160;
    border-radius: 50px;
    overflow: hidden;
    max-width: 100%; /* Адаптивность */
}

/* Для экранов с шириной больше 1200px (большие десктопы) */
@media (min-width: 1200px) {
    .custom-container {
        width: 1368px;
        height: 840px; 
    }

    .custom-circle {
        width: 1470px;
        height: 1370px; 
        top: -70%;
    }

    .custom-container-bottom {
        padding-top: 50px;
    }

    .faq-item {
        width: 400px !important;
    }
}

/* Для экранов с шириной от 992px до 1199px (средние десктопы) */
@media (min-width: 768px) and (max-width: 1199px) {
    .custom-container {
        width: 900px;
        height: 840px;
    }

    .custom-circle {
        width: 950px;
        height: 950px; 
        top: -40%;
    }

    .custom-container-bottom {
        padding-top: 50px;
    }
    .faq-item {
        width: 400px !important;
    }
}

/* Для экранов с шириной от 768px до 991px (планшеты) */
@media (min-width: 768px) and (max-width: 991px) {
    .custom-container-bottom {
        border-radius: 30px;
    }
}

/* Для экранов с шириной до 767px (мобильные устройства) */
@media (max-width: 767px) {
    .custom-container {
        width: 600px;
        height: 800px;
        border-radius: 30px;
    }

    .custom-circle {
        width: 650px;
        height: 650px;
        top: -20%;
    }

    .custom-container-bottom {
        border-radius: 30px;
    }
}

/* Для экранов с шириной до 767px (мобильные устройства) */
@media (max-width: 567px) {
    .custom-container {
        width: 450px;
        height: 800px;
        border-radius: 30px;
    }

    .custom-circle {
        width: 150%;
        height: 80%;
        top: -20%;
    }

    .custom-container-bottom {
        border-radius: 30px;
    }
}

.custom-circle {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: white;
    border-radius: 50%;
}

.text-container {
    position: relative;
    z-index: 1; /* Чтобы текст был поверх круга */
    background: rgba(255, 255, 255, 0.29);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.custom-paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.even {
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid #000000;
    color: #000000;
}

.odd {
    background: #CDE160;
    border: 1px solid #CDE160;
    color: white;
}


.custom-title {
    width: 339px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 40px;
    z-index: 1;
}

.highlighted-text {
    display: inline-block;
    background: #CDE160;
    border-radius: 15px;
    padding: 5px 10px;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {

    .text-container {
        padding: 10px;
    }

    .custom-title {
        font-size: 24px;
        width: auto;
    }

    .custom-container-bottom {
        border-radius: 30px;
        margin-top: 0;
    }
}

.black-button {
    box-sizing: border-box;
    height: 36px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 16px; /* Отступы по бокам */
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

    .black-button:hover {
        background: #333333; /* Серый при наведении */
        border-color: #333333;
    }

    .black-button:active {
        background: #555555; /* Темнее при клике */
        border-color: #555555;
    }
